body {color:black;
    background-color:lightgrey;
    font-family: inherit monospace;
    font-size: 25px;
    border:6px solid black;}
a {color:darkgoldenrod}
h1 {color:black;
    text-align:center;
    padding-top: 70;
    font-size:70;
    text-decoration:underline;}
li a {display: block;
    width: 100px}
ul {list-style-type: none;
    margin: 3;
    padding: 0;
    overflow: hidden;
    background-color: #333;}
li {float: left;}
li a {display: block;
    color: white;
    text-align: center;
    padding:10px 5px;
    text-decoration: none;
    width:205;}
li a:hover {background-color: goldenrod;}